:root {
    --color1: #ade;
    --color2: #85C1E9;
    --color3: #98BBE9;
    --color4: #8aacd8;
}
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--color3);
}
.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    background-color: black;
    margin: 0 auto;
    border-top: #000 solid 50px;
}
.slide {
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.slide.active {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.slide img{
  width: 100%;
  height: 80%;
  object-fit: contain;
}
.prev, .next {
  position: absolute;
  margin: 20% 0;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.7);
  border: none;
  font-size: 35px;
  padding: 8px 15px 6px 15px;
  cursor: pointer;
}
.prev:hover, .next:hover {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
}
button.prev { 
    left: 20px; 
}
button.next { 
    right: 20px; 
}
#awards-container h3 {
    margin: 50px 0;
}
#impact-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.impact-info p {
    margin: 5%;
}
.impact-div h3 {
    width: 100%;
    border-bottom: #111 solid 4px;
    margin: 0;
}
.impact-info {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    background-color: none;
    transition: all 1s ease;
}
.impact-div:hover > .impact-info {
    opacity: 1;
    max-height: 500px;
    background-color: var(--color4);
}
#impact-container div {
    width: 25vw;
}
.link-container > div {
    width: 300px;
}
#path-to-fame {
    margin: 50px 0;
    font-size: 35px;
}
#rocket-engine, #tesla-roadster, #tesla-batteries, #tesla-autonomous, #neuralink-image, #space-exploration, #electric-vehicle {
    height: 250px
}
.expertise-text div {
    width: 30vw;
}
.expertise-text {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: -10px;
    text-align: center;
}
.expertise-text span {
    border-bottom: #111 solid 4px;
}
#path-container {
    margin-top: 50px;
}
.spaceX-logo {
    position: absolute;
    max-width: 50%;
    left: 0;
    top: calc(10% + 20px)
}
.tesla-logo {
    position: absolute;
    width: 15%;
    right: 1%;
    top: calc(10% + 20px)
}
.inf-background {
    display: grid;
}
.inf-background img {
    max-width: 100%;
    justify-content: center;
}
.information p {
    margin: 2.5% 5%
}
.career-section {
    width: 100%;
    display: flex;
}
.left {
    justify-content: start;
}
.right {
    justify-content: end;
}
.left-section {
    width: 400px;
    margin-left: 20%;
    display: flex;
}
.right-section {
    width: 400px;
    margin-right: 20%;
    display: flex;
    text-align: end;
}
.right-section p, .left-section p {
    margin: 0;
}
.arrow {
    position: absolute;
    width: 450px;
    height: 300px;
}
#arrow1 {
    left: 40%;
    top: 140px;
    transform: rotate(10deg);
}
#arrow2 {
    right: 38%;
    top: 500px;
    transform: rotate(-35deg) scale(-1);
}
#arrow3 {
    left: 40%;
    top: 670px;
    transform: rotate(10deg);
}
#arrow4 {
    right: 38%;
    top: 1000px;
    transform: rotate(-35deg) scale(-1);
}
#arrow5 {
    left: 40%;
    top: 1130px;
    transform: rotate(10deg);
}
#arrow6 {
    right: 38%;
    top: 1500px;
    transform: rotate(-35deg) scale(-1);
}
#arrow7 {
    left: 40%;
    top: 1620px;
    transform: rotate(10deg);
}
#arrow8 {
    right: 38%;
    top: 2000px;
    transform: rotate(-35deg) scale(-1);
}
#arrow9 {
    left: 40%;
    top: 2160px;
    transform: rotate(10deg);
}
#arrow10 {
    right: 38%;
    top: 2500px;
    transform: rotate(-35deg) scale(-1);
}
.path-img {
    position: absolute;
}
#zip2-logo {
    width: 200px;
    top: 300px;
    right: 850px;
    transform: rotate(35deg);
}
#stanford-logo {
    width: 300px;
    right: 15%;
    top: 140px;
    transform: rotate(25deg);
}
#queens-logo {
    width: 300px;
    left: 10%;
    top: 300px;
    transform: rotate(-25deg);
}
#ebay-logo {
    width: 300px;
    right: 370px;
    top: 750px;
    transform: rotate(5deg);
}
#paypal-logo {
    width: 300px;
    right: 790px;
    top: 1010px;
    transform: rotate(-30deg);
}
#SpaceX-logo-path {
    width: 500px;
    left: 370px;
    top: 1250px;
    transform: rotate(0deg);
}
#Tesla-logo-path {
    width: 200px;
    right: 80px;
    top: 1350px;
    transform: rotate(10deg);
}
#OpenAI-logo {
    width: 400px;
    left: 150px;
    top: 1560px;
    transform: rotate(-7deg);
}
#neuralink-logo {
    width: 300px;
    right: 430px;
    top: 1770px;
    transform: rotate(5deg);
}
#TBC-logo {
    width: 400px;
    left: 100px;
    top: 2010px;
    transform: rotate(-90deg);
}
#Twitter-logo {
    width: 200px;
    right: 500px;
    top: 2070px;
    transform: scaleX(-1) rotate(25deg);
}
#X-logo {
    width: 200px;
    right: 600px;
    top: 2240px;
    transform: rotate(0deg);
}
#WeChat-logo {
    width: 200px;
    right: 350px;
    top: 2200px;
    transform: rotate(0deg);
}
#xAI-logo {
    width: 300px;
    left: 150px;
    top: 2570px;
    transform: rotate(0deg);
}
.black {
    filter: brightness(0%);
}
.gap {
    margin-bottom: 5%;
}
.container-center {
    display: flex;
    width: 100%;
    justify-content: center;
}
.center {
    display: flex;
    justify-content: center;
}
.information {
    margin: 0 50px;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.border-middle {
    border-left: 5px solid #111;
    border-right: 5px solid #111;
    margin: 0 10px;
    padding: 0 10px;
}
#elon-photo {
    width: 100vw;
    filter: brightness(50%);
    z-index: -1000;
}
nav {
    position: fixed;
    height: 10%;
    margin: 0;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 20px;
    z-index: 100;
}
.nav-start {
    border-radius: 20px 0 0 20px;
}
.nav-end {
    border-radius: 0 20px 20px 0;
}
.nav-container a {
    text-decoration: none;
    font-size: 36px;
    font-family: "Alfa Slab One";
    color: #fff;    
    padding: 0 20px;
}
.nav-container {
    height: 100%;
    width: auto;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    transition: width 0.3s ease;
}
.nav-container:hover {
    background-color: var(--color2);
}
#career {
    position: relative;
}
#credit {
    position: absolute;
    width: 100vw;
    text-align: center;
    top: 40%;
    color: #ddd;
    font-size: 50px;
    font-family: "Momo Trust Display";
}
h1 {
    position: absolute;
    top: 25%;
    width: 100vw;
    text-align: center;
    font-family: "Momo Trust Display";
    font-size: 100px;
    color: #ddd;
}
h2 {
    font-family: "Momo Trust Display";
    color: #111;
    font-size: 40px;
    border: #111 5px solid;
    display: inline-block;
    padding: 5px 10px;
}
h3 {
    font-size: 25px;
    font-family: "Momo Trust Display";
    color: #111;
    margin: 0 5%
}
p {
    font-size: 20px;
    font-family: "Momo Trust Display";
    color: #111;
}
#sources {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#sources a {
    text-decoration: none;
    font-size: 24px;
    font-family: "Momo Trust Display";
    color: black;
    text-align: center;
    transition: color 0.3s ease;
}
#sources a:hover {
    color: #fff;
}
#sources li {
    list-style-type: none;
    text-align: center;
}
.slide p {
    opacity: 0;
}
.slide.active p { 
    color: white;
    text-align: center;
    font-size: 24px;
    margin-left: 5%;
    margin-right: 5%;
    opacity: 1;
    transition: all 0.5s ease-in;
}
.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}
.momo-trust-display-regular {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}


